<div id="content">
	<h2><a href="https://www.linkedin.com/in/jeremygvandehey" target="_blank">linkedin</a> | <a href="https://www.twitter.com/jgvandehey" target="_blank">twitter</a> | <a href="http://www.checkmybackdoor.com/users/32" target="_blank">backdoor</a> | <a href="https://www.threadless.com/@jgvandehey" target="_blank">threadless</a> | <a href="/current">current</a> | <a href="/past">past</a> | <a href="/writing">writing</a> | <a href="/contact">contact</a> </h2>
</div>