<h2> <a href="/home"><-- Back</a></h2>
<%= render 'menu' %>
<br>
<br>
<br>
<h3>Don't be shy...</h3>
<h3><a href="mailto:jgvandehey@gmail.com?&subject=Hello (from jeremyvandehey.com)&body=I have a [bone/question/offer] to [pick with/to ask/for] you." target="_blank">Please email me</a></h3>