<h2> <a href="/home"><-- Back</a></h2>
<%= render 'menu' %>
<style>@-webkit-keyframes typing {
    from { width: 0 }
    to { width:130px }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:130px }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Ropa Sans, monospace; }

h1 { 
    font-size:150%;
    width:130px;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    margin: 20px auto 0px auto;

    
    -webkit-animation: typing 2s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 2s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
</style>
<h1>currently I'm...</h1>
<br>
<br>
<br>
<h3>Founder @ Backdoor -- <a href="http://www.checkmybackdoor.com/hi" target="_blank">checkmybackdoor.com</a></h3>
<h4>I lead a small team that is making the workplace more transparent through honest & anonymous peer reviews.</h4>
<br>
<h3>Head of Mobile Product @ Redbox Instant by Verizon -- <a href="https://itunes.apple.com/us/app/redbox-instant-by-verizon/id561226994?mt=8" target="_blank">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.redboxinstant&hl=en" target="_blank">android</a></h3>
<h4>I make it easy for you to waste time on the go by leading Redbox Instant's mobile app teams.</h4>
<br>
<h3>Hypocrite -- <a href="http://www.mobilecleanse.com" target="_blank">mobilecleanse.com</a></h3>
<h4>Helping people absorb new technology in healthy ways (while building apps in my day job)</h4>
<br>
<h3>Always writing...</h3>