<style>@-webkit-keyframes typing {
	from { width: 0 }
	to { width:200px }
}

@-moz-keyframes typing {
	from { width: 0 }
	to { width:200px }
}

@-webkit-keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black }
}

@-moz-keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black }
}

body { font-family: Ropa Sans, monospace; }

h1 { 
	font-size:150%;
	width:200px;
	white-space:nowrap;
	overflow:hidden;
	border-right: .1em solid black;
	margin: 20px auto 0px auto;


	-webkit-animation: typing 2s steps(30, end), /* # of steps = # of characters */
	blink-caret 1s step-end infinite;
	-moz-animation: typing 2s steps(30, end), /* # of steps = # of characters */
	blink-caret 1s step-end infinite;
}
</style>
<h2> <a href="/home"><-- Back</a></h2>
<%= render 'menu' %>
<h1>I like to make things...</h1>
<br>
<br>
<br>

<div class="row">
	<div class="col-lg-12 homemades">
		<table>
			<tr>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/Email_Whiz.gif" class="gif-small">
					<br>
					<strong>Email Alphabet -- 'e'</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/make-10k-a-week-in-your-spare-time-5dcaa695e27c" target="_blank"><i>'How to Email</i> ' -- Medium</a>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/L.gif" class="gif-small">
					<br>
					<strong>Email Alphabet -- 'l'</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/make-10k-a-week-in-your-spare-time-5dcaa695e27c" target="_blank"><i>'How to Email</i> ' -- Medium</a>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/M_2.gif" class="gif-small">
					<br>
					<strong>Email Alphabet -- 'm'</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/make-10k-a-week-in-your-spare-time-5dcaa695e27c" target="_blank"><i>'How to Email</i> ' -- Medium</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/Header_image_white.gif" class="gif-large">
					<br>
					<strong>How to Email lead artwork</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/make-10k-a-week-in-your-spare-time-5dcaa695e27c" target="_blank"><i>'How to Email</i> ' -- Medium</a>
				</td>
			</tr>
			<tr>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/w.gif" class="gif-small">
					<br>
					<strong>Email Alphabet -- 'w'</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/make-10k-a-week-in-your-spare-time-5dcaa695e27c" target="_blank"><i>'How to Email</i> ' -- Medium</a>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/S.gif" class="gif-small">
					<br>
					<strong>Email Alphabet -- 's'</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/make-10k-a-week-in-your-spare-time-5dcaa695e27c" target="_blank"><i>'How to Email</i> ' -- Medium</a>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/Dear_user.gif" class="gif-small" style="padding-top: 68px;padding-bottom: 69px">
					<br>
					<strong>Email Alphabet -- miss you</strong>
					<br>
					<<a href="https://medium.com/@jgvandehey/make-10k-a-week-in-your-spare-time-5dcaa695e27c" target="_blank"><i>'How to Email</i> ' -- Medium</a>
				</td>
			</tr>	
			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/vibrating_phone_assets_JV.gif" class="gif-large">
					<br>
					<strong>This is Your Brain on Mobile Lead Artwork</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/this-is-your-brain-on-mobile-15308056cfae" target="_blank">'<i>This is Your Brain on Mobile</i>' -- Medium</a>
				</td>
			</tr>	
			<tr>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/frying_pan_assets_loop.gif" class="gif-small">
					<br>
					<strong>This is your brain on mobile</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/this-is-your-brain-on-mobile-15308056cfae" target="_blank">'<i>Brain on Mobile</i>' -- Medium</a>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/Broken+Heart.square.gif" class="gif-small">
					<br>
					<strong>Y Combinator Heartbreak</strong>
					<br>
					<a href="https://medium.com/@jgvandehey/i-didnt-get-into-y-combinator-fa1842b44b92" target="_blank">YC -- Medium</a>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/crest_image.png" class="gif-small">
					<br>
					<strong>WFH Crest</strong>
					<br>
					<a href="http://www.huffingtonpost.com/jeremy-vandehey/working-from-home_b_5696034.html" target="_blank"><i>Huffington Post</a>
				</td>
			</tr>	
			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/clutter.gif" class="gif-large">
					<br>
					<strong>To do List</strong>
					<br>
					<a href="http://www.huffingtonpost.com/jeremy-vandehey/working-from-home_b_5696034.html" target="_blank"><i>'Putting the W Back in WFH'</i> -- Huffington Post</a>
				</td>
			</tr>										
			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/todolist.gif" class="gif-large">
					<br>
					<strong>To do List</strong>
					<br>
					<a href="http://www.huffingtonpost.com/jeremy-vandehey/working-from-home_b_5696034.html" target="_blank"><i>'Putting the W Back in WFH'</i> -- Huffington Post</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/clocks_ticking.gif" class="gif-large">
					<br>
					<strong>To do List</strong>
					<br>
					<a href="http://www.huffingtonpost.com/jeremy-vandehey/working-from-home_b_5696034.html" target="_blank"><i>'Putting the W Back in WFH'</i> -- Huffington Post</a>
				</td>
			</tr>	
			<tr>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/Beer+Labels/vanilla_pale_ale.png" class="gif-small">
					<br>
					<strong>Home Brew Labels</strong>
					<br>
					<span style="font-size: 14px">Vanilla Pale Ale</span>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/Beer+Labels/india_pale_ale.png" class="gif-small">
					<br>
					<strong>Home Brew Labels</strong>
					<br>
					<span style="font-size: 14px">India Pale Ale</span>
				</td>
				<td><img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/Beer+Labels/west_cost_amber.png" class="gif-small">
					<br>
					<strong>Home Brew Labels</strong>
					<br>
					<span style="font-size: 14px">West Coast Amber</span>
				</td>
			</tr>						
			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/beer+labels.png" class="gif-large">
					<br>
					<strong>Home Brew Labels</strong>
					<br>
					<span style="font-size: 14px">Vanilla Pale Ale, IPA, & West Coast Amber</span>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/BLT.png" class="gif-large">
					<br>
					<strong>Brave Little Toaster Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>	


			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/Banana+Stand.gif" class="gif-large">
					<br>
					<strong>There's Always Money in the Banana Stand Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>	






			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/Dark+Side.gif" class="gif-large">
					<br>
					<strong>Every Moon Has a Dark Side Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>	




			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/claybaby.png" class="gif-large">
					<br>
					<strong>ClayMaker Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>	




			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/ron_dayne.jpg" class="gif-large">
					<br>
					<strong>Ron Dayne Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>	





			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/the_hulk2+copy.png" class="gif-large">
					<br>
					<strong>The Hulk Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>





			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/Mario.gif" class="gif-large">
					<br>
					<strong>Mario Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>





			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/Stay+Classy+Caltrain.png" class="gif-large">
					<br>
					<strong>You Stay Classy Caltrain Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>





			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/Bike+Car.png" class="gif-large">
					<br>
					<strong>Bike Car Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>





			<tr>
				<td colspan="3">
					<img src="https://s3-us-west-2.amazonaws.com/jeremyvandehey/GIFs/T+Shirts/conductor.png" class="gif-large">
					<br>
					<strong>Mr Conductor Tee</strong>
					<br>
					<span style="font-size: 14px; color: red">Sold out</span>

				</td>
			</tr>




		</table>			
	</div>
</div>
