<style>@-webkit-keyframes typing {
    from { width: 0 }
    to { width:180px }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:180px }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Ropa Sans, monospace; }

h1 { 
    font-size:150%;
    width:180px;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    margin: 20px auto 0px auto;

    
    -webkit-animation: typing 2s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 2s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
</style>
<h2> <a href="/home"><-- Back</a></h2>
<%= render 'menu' %>
<h1>in a previous life I...</h1>
<br>
<br>
<br>
<h3>Product @ Rewarder -- Failed startup</h3>
<h4>We tried to connect people who needed knowledge with people who needed it. It was hard. We learned a lot.</h4>
<br>
<h3>Product @ Weave (owned by Intuit) -- <a href="https://itunes.apple.com/us/app/weave/id444522442?mt=8" target="_blank">iOS app</a></h3>
<h4>Helping really small businesses manage their to-dos and finances.</h4>
<br>
<h3>Founder @ Dare -- Failed startup</h3>
<h4>We built a prototype in 2 days to help retailers engage their customers with in-store challenges. We then tried to build a business around it. It didn't work. We also learned a lot.</h4>
<br>
<h3>Product @ Mint -- <a href="http://www.mint.com" target="_blank">mint.com</a></h3>
<h4>Repackaging Mint for small businesses and financial services.</h4>
<br>
<h3>Product Marketing @ Intuit Websites -- <a href="http://www.intuit.com/websites/" target="_blank">intuitwebsites.com</a></h3>
<h4>Help small businesses get online.</h4>
<br>
<h3>Product @ Intuit -- <a href="http://www.intuit.com" target="_blank">intuit.com</a></h3>
<h4>Make the life of a small business owner easier.</h4>
<br>