// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
	width: 100%;
	margin: 0 auto;
}

#content img {
	border-radius: 50%;
	width: 200px;
	margin: 50px auto 50px auto;
	vertical-align: center;
	display: block;
}
#content a {
	color: black;
	padding: 0px 3px;
}
#content a:hover {
	background-color: black;
	color: white;
}

h2 {
	width: 100%;
	margin: 50px auto 0px auto;
	text-align: center;
	font-family: ropa sans;
}

h3 {
	font-size: 24px;
	width: 800px;
	margin: 10px auto;
	text-align: left;
	font-family: ropa sans;
}
h4 {
	font-size: 18px;
	width: 800px;
	margin: 10px auto;
	text-align: left;
	font-family: ropa sans;	
}
h5 {
	font-size: 18px;
	width: 800px;
	margin: 50px auto;
	text-align: center;
	font-family: ropa sans;		
	line-height: 1.2em;
	background-color: #78DD77;
	padding: 10px 2px 10px 2px;
	color: white;
}
.red-box {
	background-color:#FF6962;
}
#writing-table {
	width: 800px;
	margin: 0 auto;
	font-size: 18px;
	margin: 10px auto;
	text-align: left;
	font-family: ropa sans;	
}
#writing-table img {
	width: 150px;
	margin-right: 0px;
	padding-right: 10px;
}

.homemades {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
}

.homemades table {
}

.homemades td {
	font-family: "lato";
	font-weight: bolder;
	font-size: 16px;
	text-align: left;
	line-height: 1.5em;
	padding: 20px 50px 20px 50px;
}
.homemades a {
	text-decoration: none;
	font-size: 14px;
}

.gif-small {
	width: 200px;
	text-align: left;
	border: 1px solid black;	
}

.gif-large {
	width: 100%;
	border: 1px solid black;
}

